body{
	background-color:skyblue;
}
input{
	border: 0.5px solid darkgrey;
	border-radius:0.2em;
	box-shadow: 2px 2px 2px #888888;
}
.loginBox{
	position:fixed;
	background-color:white;
	border:0.5px solid darkgrey;
	border-radius:0.2em;
	top:50%;
	left:50%;
	margin-top: -50px;
    margin-left: -100px;
	padding: 20px;
	padding-bottom: 35px;
	box-shadow: 5px 5px 5px #888888;
}
.loginTitle{
	background-color:yellow;
	margin:-20px;
	padding:10px;
}
#loginButton{
	position:fixed;
	background-color:lightyellow;
	left:57%;
}

table{
    border: 1px solid black;
    background-color: white;
}
td{
	padding-left: 10px;
	padding-right: 10px;
}

.cDataTable:hover { 
    background-color: yellow;
    cursor: pointer;
}
.padding-left{
	padding-left: 250px;
}